:root{
}


@font-face{
  font-family:'EB Garamond';
  font-style:normal;
  font-weight:400;
  src:local('EB Garamond'), local('EBGaramond'), url(https://fonts.gstatic.com/s/ebgaramond/v7/kYZt1bJ8UsGAPRGnkXPeFTUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
}


@font-face{
  font-family:'EB Garamond';
  font-style:normal;
  font-weight:400;
  src:local('EB Garamond'), local('EBGaramond'), url(https://fonts.gstatic.com/s/ebgaramond/v7/kYZt1bJ8UsGAPRGnkXPeFY4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
}


@font-face{
  font-family:'Futura Book';
  font-style:normal;
  font-weight:400;
  src:local('Futura Book'), url('./fonts/FuturaBook.woff2') format('woff2'), url('./fonts/FuturaBook.woff') format('woff');
}


@font-face{
  font-family:'Futura Medium';
  font-style:normal;
  font-weight:500;
  src:local('Futura Medium'), url('./fonts/FuturaMedium.woff2') format('woff2'), url('./fonts/FuturaMedium.woff') format('woff');
}


.general-container{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-content:flex-start;
  align-items:flex-start;
  height:100%;
}


@media (max-width: 37.5rem){
  .general-container{
    width:100vw;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-content:flex-start;
    align-items:flex-start;
  }
}


.main-nav-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  align-content:center;
  flex-shrink:0;
  height:100%;
  z-index:0;
  background-color:#fff;
  transition-property:height;
  transition-duration:0.25s;
  transition-timing-function:ease-out;
}


@media (max-width: 37.5rem){
  .main-nav-container{
    width:100vw;
    position:fixed;
    top:0;
    left:0;
    z-index:20;
    transition-property:height;
    transition-duration:0.25s;
    transition-timing-function:ease-out;
  }
  .main-nav-container_closed-with-hamburger{
    height:35%;
    position:fixed;
    top:0;
    left:0;
    z-index:20;
  }
  .main-nav-container_closed-no-hamburger{
    height:17%;
    position:fixed;
    top:0;
    left:0;
    z-index:20;
  }
}


@media (min-width: 37.501rem) and (max-width: 56.25rem){
  .main-nav-container, .logo-and-nav-wrapper{
    flex-basis:35%;
    width:35%;
  }
}


@media (min-width: 56.251rem) and (max-width: 75rem){
  .main-nav-container, .logo-and-nav-wrapper{
    flex-basis:30%;
    width:30%;
  }
}


@media (min-width: 75.001rem) and (max-width: 100rem){
  .main-nav-container, .logo-and-nav-wrapper{
    flex-basis:25%;
    width:25%;
  }
}


@media (min-width: 100.001rem){
  .main-nav-container, .logo-and-nav-wrapper{
    flex-basis:22.5%;
    width:22.5%;
  }
}


.logo-and-nav-wrapper{
  position:fixed;
  top:20%;
  left:0%;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  align-content:center;
  transition-property:height;
  transition-duration:0.1s;
  transition-timing-function:ease-in;
}


.logo-and-nav-wrapper_small{
  height:80px;
  display:block;
}


@media (max-width: 37.5rem){
  .logo-and-nav-wrapper{
    position:relative;
    top:0;
    left:0;
  }
  .main-nav-container-logo{
    display:block;
  }
}


.main-nav-container-logo{
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  align-content:center;
}


.main-nav-container__logo{
  width:168px;
  height:75px;
  margin-bottom:1.5rem;
  transition-property:margin-bottom;
  transition-duration:0.25s;
  transition-timing-function:ease-out;
}


@media (max-width: 37.5rem){
  .main-nav-container__logo_small{
    margin-bottom:0rem;
  }
}


.main-nav-container__logo:hover{
}


.main-nav-container__nav{
  display:flex;
  flex-direction:column;
  margin-bottom:3rem;
}


.main-nav-container__nav a{
  display:block;
  text-align:left;
  font-size:1.2rem;
  margin-top:0.875rem;
  margin-bottom:0.875rem;
  transition-property:color;
  transition-duration: 0.2s;
  transition-timing-function:ease;
}


@media (max-width: 37.5rem){
  .main-nav-container__nav a{
    text-align:center;
    font-size:1.5rem;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
  }
  .main-nav-container__nav{
    margin-bottom:2rem;
    margin-top:1rem;
  }
}


.main-content-wrapper{
    position:relative;
    transition-property:height, top;
    transition-duration:0.1s;
    transition-timing-function:ease-in;
}


@media (max-width: 37.5rem){
  .main-content-wrapper{
    width:100vw;
  }
  .main-content-wrapper-fixed-hamburger{
    position:relative;
    height:auto;
    top:35%;
  }
  .main-content-wrapper-no-hamburger{
    position:relative;
    height:auto;
    top:17%;
  }
}


@media (min-width: 37.501rem) and (max-width: 56.25rem){
  .main-content-wrapper{
    width:65%;
  }
}


@media (min-width: 56.251rem) and (max-width: 75rem){
  .main-content-wrapper{
    width:70%;
  }
}


@media (min-width: 75.001rem) and (max-width: 100rem){
  .main-content-wrapper{
    width:75%;
  }
}


@media (min-width: 100.001rem){
  .main-content-wrapper{
    width:77.5%;
  }
}


.main-content-wrapper__style-line{
  position:absolute;
  background-color: hsla(0,0%,92%,.25);
  z-index:20;
}


@media (max-width: 37.5rem){
  .main-content-wrapper__style-line{
    display:none;
  }
}


.main-content-wrapper__style-line_left{
  left:20px;
  width:1px;
  height:100%;
}


.main-content-wrapper__style-line_right{
  right:20px;
  width:1px;
  height:100%;
}


.main-content-wrapper__style-line_top{
  position:fixed;
  top:20px;
  width:100%;
  height:1px;
}


.main-content-wrapper__style-line_bottom{
  bottom:20px;
  width:100%;
  height:1px;
}


.slider-wrapper{
  position:relative;
}


@media (max-width: 37.5rem){
}


#bookTheTable{
  position:absolute;
  z-index:10;
  font-size:1rem;
  background-color:rgba(0,0,0,.6);
  color:#fff;
  border:0px;
  cursor:pointer;
  transition:all, 0.2s, ease;
}


.bookTheTableHover{
  animation-duration:0.2s;
  animation-name:bookTheTableHover;
  animation-fill-mode:forwards;
}


@keyframes bookTheTableHover{
  from{
    background-color:rgba(0,0,0,.6);
    font-size:1rem;
  }
  to{
    background-color: rgba(255,64,64,.8);
    font-size:1.1rem;
  }
}


.bookTheTableHoverOut{
  animation-duration:0.2s;
  animation-name:bookTheTableHoverOut;
  animation-fill-mode:forwards;
}


@keyframes bookTheTableHoverOut{
  from{
    background-color: rgba(255,64,64,.8);
    font-size:1.125rem;
  }
  to{
    background-color:rgba(0,0,0,.6);
    font-size:1rem;
  }
}


.slider-wrapper button:active{
  margin-top:0.15rem;
}


@media (max-width: 37.5rem){
  .slider-wrapper button{
    width:70%;
    height:10%;
    top:45%;
    left:15%;
    letter-spacing:1px;
  }
}


@media (min-width: 37.501rem) and (max-width: 56.25rem){
  .slider-wrapper button{
    width:calc(70% + -30 * ((100vw - 37.5rem)/56.25));
    height:8%;
    top:46.5%;
    left:calc(22.5% + 10 * ((100vw - 37.5rem)/56.25));
    letter-spacing:1px;
  }
}


@media (min-width: 56.251rem) and (max-width: 75rem){
  .slider-wrapper button{
    width:calc(40% + -10 * ((100vw - 56.25rem)/75));
    height:8%;
    top:46.5%;
    left:calc(32.5% + 2.5 * ((100vw - 56.25rem)/75));
    letter-spacing:1.5px;
  }
}


@media (min-width: 75.001rem) and (max-width: 100rem){
  .slider-wrapper button{
    width:calc(30% + -5 * ((100vw - 75rem)/100));
    height:8%;
    top:46.5%;
    left:calc(35% + -2.5 * ((100vw - 75rem)/100));
    letter-spacing:2px;
  }
}


@media (min-width: 100.001rem){
  .slider-wrapper button{
    width:25%;
    height:8%;
    top:46.5%;
    left:37.5%;
    letter-spacing:2.5px;
  }
}


.article-wrapper{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  align-content:flex-start;
  width:750px;
  max-width:85%;
  margin-top:4rem;
  margin-bottom:4rem;
}


@media (max-width: 37.5rem){
  .article-wrapper{
    margin:2rem auto;
  }
}


@media (min-width: 37.501rem) and (max-width: 56.25rem){
  .article-wrapper{
    margin-left:auto;
    margin-right:auto;
  }
}


@media (min-width: 56.251rem) and (max-width: 75rem){
  .article-wrapper{
    margin-left:auto;
    margin-right:auto;
  }
}


@media (min-width: 75.001rem) and (max-width: 100rem){
  .article-wrapper{
    margin-left:calc(5% + 7.5 * ((100vw - 75rem)/100));
  }
}


@media (min-width: 100.001rem){
  .article-wrapper{
    margin-left:12.5%;
  }
}


.h-wrapper{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
  align-items:center;
  align-content:center;
}


.h-wrapper__style-rectangle{
  width:50px;
  height:1px;
  background-color: #d4d4d4;
  margin-right:1rem;
}


.main-content-wrapper__footer{
  width:100%;
  height:10vw;
  background-color: #ff4040;
}


.main-content-wrapper__pattern{
  background-repeat:repeat;
}


.main-content-wrapper__pattern,.main-content-wrapper__pattern-small{
  width:100%;
  height:100%;
  background-image:url(../img/pattern.svg);
  opacity:0.03;
}


.main-content-wrapper__pattern-small{
  display:flex;
  background-size:1100px;
}


@media (max-width: 37.5rem){
  .main-content-wrapper__pattern-small{
    display:none;
  }
}


.news-header{
    height:14.5vw;
    width:100%;
    position:fixed;
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    background-color:#fff;
    z-index:10;
}


.news-header-pattern-wrapper{
  height:5vw;
  width:100%;
  background-color: #ff4040;
}


@media (max-width: 37.5rem){
  .news-header{
    height:11vw;
    justify-content:center;
    align-items:center;
    align-content:center;
  }
  .news-header-pattern-wrapper{
    display:none;
  }
}


.news-header__pattern{
  width:100%;
  height:100%;
  background-image:url(../img/pattern.svg);
  opacity:0.06;
}


.news-header-nav, .news-header-nav-mobile{
  width:750px;
  max-width:85%;
  height:9.5vw;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:flex-end;
  align-content:flex-end;
  margin-bottom:4vw;
}


.news-header-nav-mobile{
  display:none;
}


@media (max-width: 37.5rem){
  .news-header{
    display:none;
  }
}


@media (max-width: 37.5rem){
  .news-header-nav-mobile{
    display:flex;
    height:5vw;
    width:90%;
    justify-content:center;
    margin:1.5rem auto 2vw;
  }
  .news-header-nav-mobile_hide{
    display:none;
  }
}


.news-header-nav a, .news-header-nav-mobile a{
  font-family:'EB Garamond';
  font-size:1.375rem;
}


.news-header-nav a:first-child, .news-header-nav-mobile a:first-child{
  margin-right:2rem;
}


.news-header-nav__go-back-button{
  width:10px;
  position:relative;
  top:0px;
  left:-4vw;
  margin:0 !important;
}


.news-header-nav__news-title{
  position:relative;
  left:-10px;
  top:0px;
  margin-top:0px;
  margin-bottom:0px;
}


a .underline{
  height:0.5px;
  background-color: #d4d4d4;
}


.news-header-nav a:hover>.underline{
  background-color: #ff4040;
}


.article-previews-wrapper, .news-article-wrapper{
  margin-top:14.5vw;
  width:750px;
  max-width:85%;
}


@media (max-width: 37.5rem){
  .article-previews-wrapper{
    width:90%;
    max-width:90%;
  }
  .article-previews-wrapper,.news-article-wrapper{
    margin-top:0;
    margin-left:auto;
    margin-right:auto;
  }
  .news-article-wrapper{
    width:100%;
    max-width:100%;
    margin-bottom:5vh;
  }
}


@media (min-width: 37.501rem) and (max-width: 56.25rem){
  .news-header-nav, .article-previews-wrapper, .news-article-wrapper{
    margin-left:5vw;
  }
}


@media (min-width: 56.251rem) and (max-width: 75rem){
  .news-header-nav, .article-previews-wrapper, .news-article-wrapper{
    margin-left:5vw;
  }
}


@media (min-width: 75.001rem) and (max-width: 100rem){
  .news-header-nav, .article-previews-wrapper, .news-article-wrapper{
    margin-left:calc(5vw + 6 * ((100vw - 75rem)/35));
  }
}


@media (min-width: 100.001rem){
  .news-header-nav, .article-previews-wrapper, .news-article-wrapper{
    margin-left:11vw;
  }
}


.article-preview{
  display:flex;
  flex-direction:row;
  flex-wrap:nowrap;
  justify-content:flex-start;
  align-items:center;
  align-content:center;
  margin-bottom:3rem;
}


@media (max-width: 37.5rem){
  .article-preview{
    margin-bottom:2.5rem;
    align-items:flex-start;
    align-content:flex-start;
  }
}


.article-preview__img{
  width:130px;
  height:130px;
  margin-right:2.5vw;
  background-color:hsla(0,0%,50%,.15);
}


@media (max-width: 37.5rem){
  .article-preview__img{
    width:100px;
    height:100px;
  }
}


.article-preview-info-wrapper{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  align-content:flex-start;
  width:70%;
}


.article-preview__title{
  margin-top:0px;
  margin-bottom:1.5rem;
}


@media (max-width: 37.5rem){
  .article-preview__title{
    font-size:1.1rem;
    margin-top:0px;
    margin-bottom:0.5rem;
  }
  .article-preview-info-wrapper{
    margin-top:-4px;
  }
}


.article-preview__text{
  margin-top:0px;
  margin-bottom:0px;
}


@media (max-width: 37.5rem){
  .article-preview__text{
    font-size:0.875rem;
    line-height:1.2rem;
  }
}


.news-article-wrapper__img,.news-article-wrapper__img img{
  width:100%;
  height:400px;
}


.news-article-wrapper__img img{
  object-fit:cover;
  margin-bottom:1rem;
}


@media (max-width: 37.5rem){
  .news-article-wrapper__img{
    height:35vh;
  }

  .news-article-wrapper__img img{
    height:35vh;
    margin-bottom:0;
  }
  .news-article-wrapper p{
    width:90%;
    margin-left:auto;
    margin-right:auto;
  }
}


.news-header-nav__news-title-mobile{
  display:none;
}


@media (max-width: 37.5rem){
  .news-header-nav__news-title-mobile{
    display:flex;
    position:relative;
    left:0px;
    top:0px;
    width:90%;
    margin:1rem auto;
    color:#000;
  }
}


.menu-nav-wrapper{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  align-content:center;
  width:100%;
  flex-basis:auto;
  height:20vh;
  background-color:#000;
}


@media (max-width: 37.5rem){
  .menu-nav-wrapper{
    display:none;
  }
}


.menu-nav-mobile-wrapper{
  display:none;
}


@media (max-width: 37.5rem){
  .menu-nav-mobile-wrapper{
    position:fixed;
    top:35vh;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    align-content:center;
    width:100%;
    flex-basis:auto;
    height:13%;
    background-color:#000;
    overflow:auto;
    transition-property:top, position;
    transition-duration:0.25s;
    transition-timing-function:ease-out;
    z-index:5;
  }
  .menu-nav-mobile-wrapper-no-hamburger{
    top:17%;
  }
  .menu-nav-mobile{
    position:relative;
    left:170px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    align-content:center;
    min-width:700px;
    flex-grow:1;
  }
  .menu-nav-mobile a{
    font-size:1rem;
    z-index:2;
  }
  .menu-nav-mobile a:last-child{
    margin-right:3rem;
  }
  .menu-nav-mobile a:first-child{
    margin-left:3rem;
  }
  .menu-nav-mobile__separator{
    background-color:#898989;
    width:1px;
    height:1.2rem;
  }
  .menu-nav-mobile__link{
    color:#fff !important;
  }
  .menu-nav-mobile__link_actual{
    color: #ff4040 !important;
  }
}


.menu-nav{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-around;
  align-items:center;
  align-content:center;
  max-width:80%;
  flex-grow:1;
}


.menu-nav a{
  font-size:1rem;
  z-index:2;
}


.menu-nav a,.menu-nav a:visited{
  color:#fff;
}


.menu-nav a:hover{
  color: #ff4040;
}


.menu-nav__separator{
  background-color:#898989;
  width:1px;
  height:1.2rem;
}


.dish-of-the-day-wrapper{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:flex-start;
  align-items:flex-start;
  align-content:flex-start;
  width:100%;
  height:80vh;
}


.left-image{
  order:1;
  width:50%;
  height:100%;
}


.left-image img{
  width:100%;
  height:100%;
  object-fit:cover;
  margin-bottom:-5px;
}


.dish-of-the-day{
  order:2;
  width:50%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:center;
  align-content:center;
  text-align:center;
  z-index:1;
}


.dish-of-the-day::before{
  content:"";
  position:absolute;
  top:0;
  left:50%;
  width:50%;
  height:100%;
  opacity:.03;
  z-index:-1;
  background-image:url('../img/pattern.svg');
  background-repeat:repeat;
  background-size:1100px;
}


@media (max-width: 37.5rem){
  .left-image{
    width:100%;
    height:70vh;
    order:2;
  }
  .left-image img{
    height:100%;
  }
  .dish-of-the-day{
    width:100%;
    order:1;
  }
  .dish-of-the-day,.dish-of-the-day-wrapper{
    height:auto;
  }
  .dish-of-the-day::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:.03;
    z-index:-1;
    background-image:url('../img/pattern.svg');
    background-repeat:repeat;
    background-size:1100px;
  }
}


.dish-of-the-day__block-title{
  font-family:'Futura Medium';
  font-size:0.875rem;
  letter-spacing:4.6px;
  width:122px;
  padding-left:3.8px;
  margin-top:15vh;
  margin-bottom:0.5rem;
}


.dish-of-the-day__block-title,.dish-of-the-day .underline{
  max-width:90%;
  margin-left:auto;
  margin-right:auto;
}


.dish-of-the-day .underline{
  height:1.75px;
  width:120px;
  background-color: #ff4040;
  margin-bottom:10vh;
}


.dish-of-the-day article{
  width:100%;
  height:100%;
}


.dish-of-the-day__dish-title{
  max-width:90%;
  margin-left:auto;
  margin-right:auto;
  font-size:1.75rem;
  color:#000;
}


.dish-of-the-day__dish-description{
  width:75%;
  margin-left:auto;
  margin-right:auto;
  font-size:1rem;
}


@media (max-width: 37.5rem){
  .dish-of-the-day__block-title{
    margin-top:3rem;
  }
  .dish-of-the-day .underline{
    margin-bottom:3rem;
  }
  .dish-of-the-day__dish-description{
    font-size:0.875rem;
    line-height:1.4;
    margin-bottom:3rem;
  }
}


.dishes-wrapper{
  height:80vh;
  width:100%;
  overflow:scroll;
}


@media (max-width: 37.5rem){
  .dishes-wrapper{
    height:70vh;
    overflow:visible;
  }
}


.about-dish{
  position:relative;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  width:88%;
  margin:5vh auto;
}


@media (max-width: 37.5rem){
  .about-dish{
    width:90%;
  }
}


.about-dish__img{
  margin-right:6%;
}


.about-dish__img,.about-dish__img img{
  width:142px;
  height:142px;
}


@media (max-width: 37.5rem){
  .about-dish{
    width:90%;
  }
  .about-dish__img{
    margin-right:6%;
  }
  .about-dish__img,.about-dish__img img{
    width:80px;
    height:80px;
  }
}


.about-dish-information{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  flex-grow:1;
  justify-content:flex-start;
  align-items:stretch;
  align-content:space-between;
}


.about-dish__title{
  width:100%;
  margin-top:0;
  margin-bottom:0rem;
}


@media (max-width: 1000px){
  .about-dish__title{
    margin-bottom:0.5rem;
  }
}


.about-dish__description{
  flex-basis:60%;
  max-width:700px;
  flex-grow:4;
  margin-top:0;
  margin-bottom:1.25rem;
}


.about-dish__price{
  font-family:'EB Garamond' !important;
  font-size:1.25rem;
  text-align:center;
  flex-basis:15%;
  flex-grow:1;
  margin-top:-3px;
  margin-bottom:0;
}


.about-dish__price span{
  font-family:'Futura Book';
  color:#a7a7a7;
  font-size:0.875rem;
}


.about-dish__characteristics{
  font-size:0.875rem;
  color:#a7a7a7;
  flex-basis:60%;
  max-width:700px;
  flex-grow:4;
  margin-top:0;
  margin-bottom:0;
}


@media (max-width: 37.5rem){
  .about-dish__title{
    font-size:18px;
    color:#000;
  }
  .about-dish__description{
    font-size:12px;
    line-height:13px;
    margin-bottom:18px;
  }
  .about-dish__price{
    margin-top:-38px;
  }
  .about-dish__characteristics{
    font-size:12px;
  }
}


.about-dish-styling-line-wrapper{
  flex-basis:15%;
  flex-grow:1;
  height:1px;
  align-self:flex-end;
}


.about-dish-styling-line-wrapper__line{
  height:1px;
  width:35px;
  margin-left:auto;
  margin-right:auto;
  background-color: #ff4040;
}


@media (max-width: 1200px){
  .about-dish-styling-line-wrapper{
    display:none;
  }
}


@media (max-width: 37.5rem){
  .about-dish-styling-line-wrapper{
    display:block;
    position:absolute;
    top:35px;
    right:2.5%;
    flex-basis:15%;
    flex-grow:1;
    height:1px;
    align-self:flex-end;
  }
  .about-dish-styling-line-wrapper__line{
    height:1px;
    width:35px;
    margin-left:auto;
    margin-right:auto;
    background-color: #ff4040;
  }
}


@media (max-width: 37.5rem){
  .dish-divider{
    width:100%;
    height:1px;
    background-color:#ebebeb;
    opacity:0.4;
  }
}


.ginzaclub__title, .ginzaclub__call{
  margin-top:5vh;
}


@media (max-width: 37.5rem){
  .ginzaclub__title, .ginzaclub__call{
    margin-top:0vh;
  }
}


.ginzaclib__description{
  width:90%;
}


@media (max-width: 37.5rem){
  .ginzaclib__description{
    line-height:1.5;
  }
}


.ginzaclub-form__submit{
  margin-top:2vw;
  margin-bottom:3rem;
}


.news-header picture,.news-header img{
  width:100%;
  height:100%;
}


.news-header img{
  object-fit:cover;
}


#ginzaclub-form{
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  justify-content:flex-start;
  align-content:flex-start;
  align-items:flex-start;
  width:300px;
  max-width:90%;
}


.ginzaclub-form__input{
  width:100%;
  height:2rem;
  margin-bottom:1rem;
  border:1px;
  border-bottom-style:solid;
  border-bottom-color:#727272;
  transition-property:border-bottom-color;
  transition-duration: 0.2s;
  transition-timing-function:ease;
}


.ginzaclub-form__input:focus{
  border-bottom-color: #ff4040;
}


.ginzaclub-form__submit{
  font-family:'Futura Book';
  font-size:1rem;
  color:#fff;
  padding:0.75rem 2rem;
  border:0;
  border-radius:2px;
  background-color: #ff4040;
  transition-property:background-color, margin-top;
  transition-duration: 0.2s;
  transition-timing-function:ease;
  cursor:pointer;
}


@media (max-width: 37.5rem){
  .ginzaclub-form__submit{
    margin-bottom:10vh;
  }
}


.ginzaclub-form__submit:hover{
  background-color: rgba(255,64,64,.9);
}


.ginzaclub-form__submit:active{
  margin-top:2.1vw;
  background-color: #ff4040;
}


#cards{
  position:absolute;
  bottom:0;
  right:0;
  z-index:-1;
}


@media (max-width: 37.5rem){
  #cards{
    display:none;
  }
}


.contacts-wrapper{
  width:100%;
  height:100vh;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:flex-start;
  align-content:flex-start;
}


.contacts-wrapper,.contacts{
  display:flex;
  justify-content:flex-start;
}


.contacts{
  order:1;
  width:50%;
  height:100%;
  flex-direction:column;
  align-items:center;
  align-content:center;
}


@media (max-width: 37.5rem){
  .contacts-wrapper{
    height:60vh;
  }
  .contacts{
    order:2;
    width:100%;
    height:40%;
    justify-content:space-around;
    margin-top:1rem;
  }
}


.map{
  order:2;
  width:50%;
  height:100%;
  display:block;
}


@media (max-width: 37.5rem){
  .map{
    order:1;
    width:100%;
    height:50%;
  }
}


.contacts__adress{
  margin-top:33vh;
  font-style:normal;
  text-align:center;
}


.contacts__adress,.contacts__tel{
  font-size:1.25rem;
  font-family:'Futura Book';
}


.contacts__tel{
  color: #ff4040;
  margin-top:1vh;
}


.contacts__workhours{
  font-size:0.875rem;
  color:#afafaf;
  margin-top:3vh;
  margin-bottom:0rem;
  text-align:center;
}


.contacts__workhours2{
  font-size:1rem;
  color:#afafaf;
  text-align:center;
  margin-top:0;
  margin-bottom:24vh;
}


.contacts-social svg{
  margin-left:0.5rem;
  margin-right:0.5rem;
}


.contacts-social svg #tripa,
.contacts-social svg #insta,
.contacts-social svg #vk,
.contacts-social svg #fb{
  transition-property:fill;
  transition-duration: 0.2s;
  transition-timing-function:ease;
}


.contacts-social svg:hover #tripa,
.contacts-social svg:hover #insta,
.contacts-social svg:hover #vk,
.contacts-social svg:hover #fb{
  fill:#afafaf;
}


@media (max-width: 37.5rem){
  .contacts__adress{
    margin-top:1rem;
    font-size:1rem;
  }
  .contacts__workhours{
    margin-top:0.75rem;
    line-height:1.2;
  }
  .contacts__workhours2{
    margin-bottom:0.75rem;
    line-height:1.2;
  }
  .contacts__tel{
    margin-top:0rem;
    font-size:1rem;
  }
}


.owl-carousel{
  display:none;
  width:100%;
  height:100vh;
  -webkit-tap-highlight-color:transparent;
  position:relative;
  z-index:1; }


@media (max-width: 37.5rem){
  .owl-carousel{
    height:65vh; 
  }
}


.owl-carousel .owl-stage{
    height:100%;
    position:relative;
    -ms-touch-action:pan-Y;
    -moz-backface-visibility:hidden; }


.owl-carousel .owl-stage:after{
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0; }


.owl-carousel .owl-stage-outer{
    height:100%;
    position:relative;
    overflow:hidden;
    -webkit-transform:translate3d(0px, 0px, 0px); }


.owl-carousel .owl-wrapper,
  .owl-carousel .owl-item{
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -webkit-transform:translate3d(0, 0, 0);
    -moz-transform:translate3d(0, 0, 0);
    -ms-transform:translate3d(0, 0, 0); }


.owl-carousel .owl-item{
    height:100%;
    position:relative;
    min-height:1px;
    float:left;
    -webkit-backface-visibility:hidden;
    -webkit-tap-highlight-color:transparent;
    -webkit-touch-callout:none; }


.owl-carousel .owl-item img{
    object-fit:cover;
    height:100%;
    display:block;
    width:100%; }


.owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled{
    display:none; }


.owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot{
    cursor:pointer;
    cursor:hand;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none; }


.owl-carousel.owl-loaded{
    display:block; }


.owl-carousel.owl-loading{
    opacity:0;
    display:block; }


.owl-carousel.owl-hidden{
    opacity:0; }


.owl-carousel.owl-refresh .owl-item{
    visibility:hidden; }


.owl-carousel.owl-drag .owl-item{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none; }


.owl-carousel.owl-grab{
    cursor:move;
    cursor:-webkit-grab;
    cursor:grab; }


.owl-carousel.owl-rtl{
    direction:rtl; }


.owl-carousel.owl-rtl .owl-item{
    float:right; }


.no-js .owl-carousel{
  display:block; }


.owl-carousel .animated{
  animation-duration:1000ms;
  animation-fill-mode:both; }


.owl-carousel .owl-animated-in{
  z-index:0; }


.owl-carousel .owl-animated-out{
  z-index:1; }


.owl-carousel .fadeOut{
  animation-name:fadeOut; }


@keyframes fadeOut{
  0%{
    opacity:1; }
  100%{
    opacity:0; }
}


.owl-height{
  transition:height 500ms ease-in-out; }


.owl-carousel .owl-item .owl-lazy{
  opacity:0;
  transition:opacity 400ms ease; }


.owl-carousel .owl-item img.owl-lazy{
  transform-style:preserve-3d; }


.owl-carousel .owl-video-wrapper{
  position:relative;
  height:100%;
  background:#000; }


.owl-carousel .owl-video-play-icon{
  position:absolute;
  height:80px;
  width:80px;
  left:50%;
  top:50%;
  margin-left:-40px;
  margin-top:-40px;
  background:url("owl.video.play.png") no-repeat;
  cursor:pointer;
  z-index:1;
  -webkit-backface-visibility:hidden;
  transition:transform 100ms ease; }


.owl-carousel .owl-video-play-icon:hover{
  transform:scale(1.3, 1.3); }


.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon{
  display:none; }


.owl-carousel .owl-video-tn{
  opacity:0;
  height:100%;
  background-position:center center;
  background-repeat:no-repeat;
  background-size:contain;
  transition:opacity 400ms ease; }


.owl-carousel .owl-video-frame{
  position:relative;
  z-index:1;
  height:100%;
  width:100%; }


.owl-dot{
  width:8px;
  height:8px;
  border-radius:4px;
  background-color:hsla(0,0%,100%,.5);
  margin-left:12px;
  margin-right:12px;
  transition: all, 0.2s, ease;
}


.owl-dot:hover{
  background-color:hsla(0,0%,100%,.75);
}


.active{
  background-color:#fff;
}


.owl-dots{
  position:absolute;
  bottom:8%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  align-content:center;
  width:100%;
}


html,
body{
height:100%;
min-height:100%;
}


body{
  margin:0;
  padding:0;
}


p, a{
  font-family:sans-serif;
  font-weight:400;
}


h1, h2, h3, h4, h5, h5{
  font-family:serif;
  font-weight:400;
}


.fonts-loaded p, a{
  font-family:'Futura Book', sans-serif;
  font-weight:400;
}


.fonts-loaded h1,h2,h3,h4,h5,h6,button{
  font-family:'EB Garamond', serif;
  font-weight:400;
}


a{
  text-decoration:none;
  transition: all, 0.2s, ease;
}


a,a:visited{
  color:#000;
}


a:hover, a:active, a:focus{
  color: #ff4040;
}


.actual{
  color: #ff4040 !important;
}


.content-wrapper{
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    align-content:flex-start;
    height:100%;
    transition-property:height, top;
    transition-duration:0.25s;
    transition-timing-function:ease-out;
}


@media (max-width: 37.5rem){
  .content-wrapper{
    width:100vw;
  }
  .content-wrapper-fixed-hamburger{
    position:relative;
    height:auto;
    top:35%;
  }
  .content-wrapper-no-hamburger{
    position:relative;
    height:auto;
    top:17%;
  }
  .content-wrapper-menu-fixed-hamburger{
    position:relative;
    height:auto;
    top:48%;
  }
  .content-wrapper-menu-no-hamburger{
    position:relative;
    top:30%;
  }
}


@media (min-width: 37.501rem) and (max-width: 56.25rem){
  .content-wrapper{
    width:65%;
  }
}


@media (min-width: 56.251rem) and (max-width: 75rem){
  .content-wrapper{
    width:70%;
  }
}


@media (min-width: 75.001rem) and (max-width: 100rem){
  .content-wrapper{
    width:75%;
  }
}


@media (min-width: 100.001rem){
  .content-wrapper{
    width:77.5%;
  }
}


p{
  font-size:1rem;
  line-height:1.75;
  color:#000;
  width:100%
}


h3{
  font-size:1.375rem;
  line-height:1.25;
  color: #ff4040;
}


.underline{
  width:100%;
  background-color:#727272;
  transition-property:background-color;
  transition-duration: 0.2s;
  transition-timing-function:ease;
}


#bookTheTableOnNav{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:flex-start;
  align-content:flex-start;
  font-size:1.1rem;
  letter-spacing:2px;
  background-color:transparent;
  color:#000;
  border:0px;
  cursor:pointer;
  transition-property:opacity, color, margin-top;
  transition-duration: 0.2s;
  transition-timing-function:ease;
}


@media (max-width: 37.5rem){
  #bookTheTableOnNav{
    color:#727272;
    margin-bottom:2rem;
  }
}


.bookTheTableOnNav_visible{
  opacity:1;
}


.bookTheTableOnNav_invisible{
  opacity:0;
}


.bookTheTableOnNav_alwaysVisible{
  opacity:1;
}


@media (max-width: 37.5rem){
  .bookTheTableOnNav_visible,.bookTheTableOnNav_invisible{
    opacity:1;
  }
}


#bookTheTableOnNav:hover, #bookTheTableOnNavAlwaysVisible:hover{
  color: #ff4040;
}


#bookTheTableOnNav .underline{
  height:1px;
}


#bookTheTableOnNav:hover>.underline{
  background-color: #ff4040;
}


#bookTheTableOnNav:active{
  margin-top:2px;
}


#toggleMobileNav, #toggleMobileNav__line{
  display:none;
}


@media (max-width: 37.5rem){
  #toggleMobileNav{
    display:block;
    width:100px;
    height:25px;
    border:0;
    background-color:transparent;
  }
  #toggleMobileNav__line{
    display:block;
    width:44px;
    height:2px;
    background-color: #ff4040;
    margin-left:auto;
    margin-right:auto;
  }
}


@media (max-width: 37.5rem){
  .hidden{
    display:none !important;
  }
}

/*# sourceMappingURL=main.css.map */
